html, body, #root, .App {
  height: 100%;
}
.console {
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0%; 
  background-color: #ffffff
}

.left-side-bar {
  width: 30%;
  height: 100%;
  float: left;
  background-color: #242321
}
.workspace {
  width: 70%;
  height: 100%;
  float: right;
  background-color: #130d01
}

.tabs {
  width: 100%;
  height: 8%;
  background-color: #f3ecdd
}

.tree-tab {
  width: 50%;
  height: 100%;
  float: left;
}

.feed-tab {
  width: 50%;
  height: 100%;
  float: right;
}

.tab-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.workspace-tab {
  height: 5%;
  background-color: #242321;
}